/* .product {
  display: none;
  width: 300px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #9b9faa;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
  padding-left: 0px;
  margin-right: 30px;
}
.gram {
  display: none;
  width: 120px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.04em;
  color: #9b9faa;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  padding: 20px;
  padding-right: 0px;
}
.icon {
  width: 14px;
  height: 14px;
  fill: #fff;
}
.but {
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fc842d;
  box-shadow: 0 4px 10px 0 rgb(252 132 45 / 50%);
  border: 1px solid #fc842d;
  margin-left: 75px;
}
@media screen and (min-width: 768px) {
  .but {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .cont {
    display: flex;
    margin-top: 60px;
    font-size: 13px;
  }
  .product {
    display: block;
    width: 241px;
    font-size: 13px;
  }
  .gram {
    display: block;
    width: 104px;
    font-size: 13px;
  }
  .form {
    display: flex;
  }
  .bu {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .cont {
    margin-bottom: 60px;
    margin-left: 115px;
  }
}
.bu {
  width: 50px;
  height: 50px;
  color: #fff;
  margin-top: 60px;
  margin-bottom: 60px;
  border-radius: 50%;
  background: #fc842d;
  box-shadow: 0 4px 10px 0 rgb(252 132 45 / 50%);
  border: 1px solid #fc842d;
  margin-left: 135px;
} */
