.overlay {
    top: 104px;
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(33, 33, 33, 0.12);;
  bottom: 0;
}
.notShow {
  opacity: 0;
  transition: 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  pointer-events: none;
  background-color: rgba(33, 33, 33, 0.12);
}

.modal {
   top: 138px;
  position: fixed;
  width: 100%;
  padding: 40px 15px 80px;
  background-color: white;
}
.closeBtn {
  display: block;
  position: absolute;
  top: 0;
  left: 510px;
  margin: 1.75rem;
  border-radius: 50%;
  background-color: white;
  border: none;
  color: #000000;
}
.closeSvg {
  display: none;
}
.goBackSvg {
  display: block;
  position: absolute;
  top: -53px;
  left: -510px;
}
@media screen and (min-width: 768px) {
  .modal {
    width: 594px;
    height: 580px;
    padding: 64px 42px 68px;
     top: 244px;
  }
  .overlay {
    top: 0;
  }

  .goBackSvg {
    display: none;
  }
  .closeSvg {
    display: block;
  }
  .closeBtn{
      left: 530px;
  }
}
@media screen and (min-width: 1280px) {
  .modal {
    width: 690px;
    height: 580px;
    padding: 64px 90px 81px;
    top: 135px;
  }
  .closeBtn{
      left: 620px;
  }
}
.enter {
  opacity: 0;
  transform: scale(0.3);
}
.enterActive {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms linear;
}
.exit {
  opacity: 1;
  transform: scale(1);
}
.exitActive {
  opacity: 0;
  transform: scale(0.3);
  transition: all 300ms linear;
}
