.header{
  align-items: center;
  display: flex;
  border-bottom: 2px solid #E0E0E0;
}
.logo {
  align-items: center;
  display: flex;
  margin: 18px 0px 18px 15px;
  text-decoration: none;
}
.logo__image {
  width: 46px;
  height: 44px;
}
.logo__text{
  display: none;
}
.logo__text__color{
  color: #FC842D;
}
.decoration{
  display: none;
}

@media screen and (min-width: 767px){
  .logo__text{
    margin-left: 10px;
    display: block;
  }
}
@media screen and (min-width: 1280px){
  .header{
    border-bottom: none;
    align-items: flex-end;
  }
  .logo{
    margin-top: 82px;
    margin-left: 90px;
    align-items: flex-end;
  }
  .logo__image{
    width: 70px;
    height: 66px;
  }
  .logo__text{
    margin-left:-8px;
  }
  .decoration{
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    height: 32px;
    border: 1px solid #E0E0E0;
    margin-bottom: 7.5px;
  }

}


