@media (min-width: 240px) {
  .mainBox{
    background-color: #F0F1F3;;
    padding-top: 40px;
    padding-bottom: 84px;
}

.productBox{
    margin-top: 40px;
}


.kcalList{
font-family: Verdana;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 2.21;
letter-spacing: 0.04em;
color: #9B9FAA;

margin-top: 20px;
}

.productList{
    font-family: Verdana;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 2.21;
    letter-spacing: 0.04em;
    color: #9B9FAA;

    margin-top: 20px;

}


.title{
font-family: Verdana;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 1.21;
letter-spacing: 0.04em;
color: #212121;

margin-top: 40px;
}

.productItem{
    display: inline;

}
}




/* @media (min-width: 480px)  and (max-width: 768px){
 
} */


@media (min-width: 768px){
  .mainBox{
    display: flex;
    padding-top: 91px;
    background-image: url('../../images/grass.png');
    background-repeat:no-repeat;
    background-position: bottom right;
}

.dayBox{
    width: 50%;
}

.productBox{
    width: 50%;
    margin-top: 0;
}

}
