.auth_container {
  display: block;
  margin: 0 auto;
  /* width: 300px; */
  margin-top: 40px;
  text-align: center;
}
.auth_title {
  font-family: Gotham Pro;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fc842d;
  margin-bottom: 60px;
}
.auth_form {
  display: flex;
  flex-direction: column;
}
.auth_form {
  display: flex;
  flex-direction: column;
}
.button_container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 108px;
  justify-content: space-between;
}
.auth_button {
  background: #fc842d;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
  border-radius: 30px;
  border: none;
  width: 176px;
  height: 44px;

  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: white;
}
.auth_link {
  /* background: #ffffff;
  border: 2px solid #fc842d;
  box-sizing: border-box;
  border-radius: 30px;
  width: 176px;
  height: 44px;
  display: flex; */

  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;

  text-align: center;
  letter-spacing: 0.04em;

  color: #fc842d;
}

.auth_input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #e0e0e0;
}

.auth_label {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 75px;
  color: #9b9faa;
}
.auth_label_last {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 60px;
  color: #9b9faa;
}

@media screen and (min-width: 768px) {
  .auth_container {
    width: 382px;
    margin-top: 157px;
    margin-left: 0;
    margin-right: 0;
  }
  .button_container {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
  .auth_input {
    width: 239px;
  }
  .auth_form input:not(:last-child) {
    margin-bottom: 70px;
  }
  .auth_title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .auth_container {
    width: 382px;
    margin-top: 213px;
    margin-left: 0;
    margin-right: 0;
  }
  .auth_title {
    text-align: left;
  }
}
